*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    list-style: none;
    color: white;
    text-decoration: none;
}

:root{
    --azul-claro: #124467;
    --azul-medio: #0B1C25;
    --azul-escuro: #08151b;
}

html {
    scroll-behavior: smooth;
}

.interface{
    max-width: 1100px;
    margin: 0 auto;
}


/* ESTILIZANDO SEÇÃO INICIAL DE PROBLEMAS */
#problema {
    height: 100vh;
    width: 100%;
}

#problema .interface{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 67vh;
    justify-content: space-between;
    align-items: center;
}

.fundo{
    width: 100%;
    height: 100vh;
    position: absolute;
}

#problema #menu-desktop{
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#problema #menu-desktop ul{   
    display: flex;
    align-items: center;
    gap: 15px;
}

#problema #menu-desktop ul li img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}

#problema #menu-desktop ul li a{
    font-size: 17px;
    font-weight: 500;
    position: relative;
    padding-bottom: 4px;
}

#problema #menu-desktop ul li a::after{
    content: " ";
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

#problema #menu-desktop ul li a:hover::after{
    width: 100%;
}

#informacoes{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
}

#informacoes h2{
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 5px;
}

#informacoes p{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

#informacoes button{
    width: 40%;
    height: 40px;
    margin-top: 25px;
    background-color: transparent;
    border: 2px solid white;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

#informacoes button:hover{
    color: transparent;
    background-color: white;
    color: #124467;
    transform: scale(1.08);
}

#problema::after{
    content: " ";
    width: 100%;
    height: 25%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #0B1C25 5%, transparent);
}


/* ESTILIZANDO SEÇÃO DE TECNOLOGIAS */
#tecnologias{
    width: 100%;
    height: 100vh;
    background-color: var(--azul-medio);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tecnologia{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#modal-arduino{    
    display: none;
}

#modal-python{    
    display: none;
}

.imagem-modal{
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
}

.imagem-modal img{
    width: 50vw;
    height: 70vh;
    border-radius: 20px;
    box-shadow: 1px 1px 50px 20px black;
}

.imagem-modal button{
    position: absolute;
    width: 50px;
    right: 5%;
    top: 5%;
    background-color: transparent;
    border: none;
    font-size: 35px;
    font-weight: 900;
    cursor: pointer;
}

.imagem-modal i{
    color: black;
}

.tecnologia img{
    width: 38%;
    height: 270px;
    transition: 0.8s all;
    border-radius: 2px;
}

.tecnologia img:hover{
    box-shadow: 1px 1px 30px 20px var(--azul-escuro);
    cursor: pointer;
}

.img-left img{
    margin-left: 9%;
}

.img-right img{
    margin-right: 9%;
}

#texto-right{
    margin-right: 11%;
    align-items: flex-end;
    position: relative;
    text-align: right;
}

#texto-right::after{
    content: " ";
    width: 40%;
    height: 2px;
    background-color: white;
    position: absolute;
    right: -25%;
    transform: rotate(90deg);
    z-index: 998;
}

#texto-left{   
    margin-left: 11%;
    align-items: flex-start;
    position: relative;
}

#texto-left::after{
    content: " ";
    width: 40%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: -25%;
    transform: rotate(90deg);
}

.texto-tecnologia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 270px;
    width: 40%;
}

.texto-tecnologia h2{
    text-transform: capitalize;
    margin-bottom: 10px;
}

.texto-tecnologia p{
    font-size: 18px;
}

.texto-tecnologia button{
    margin-top: 20px;
    padding-bottom: 4px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    width: 19%;
}

#texto-right button{
    text-align: end;
}

#texto-right button::after{
    right: 0;
}

#texto-left button{
    text-align: start;
}

#texto-left button::after{
    left: 0;
}

.texto-tecnologia button::after{
    content: " ";
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    transition: 0.5s ease-in-out;
}

.texto-tecnologia button:hover::after{
    width: 100%;
}


/* ESTILIZAÇÃO DA SEÇÃO OBJETIVOS */
#objetivos{
    background-color: var(--azul-medio);
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#objetivos h2{
    text-align: center;
    margin: 15px 0;
    text-transform: uppercase;
    font-size: 30px;
}

#objetivos p{
    font-size: 15px;
}

#objetivos ul{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

#objetivos ul li{
    display: flex;
    width: 33%;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

#objetivos i{
    font-size: 55px;
}


/* ESTILIZANDO SEÇÃO BENEFÍCIOS */
#beneficios{
    width: 100%;
    height: 100vh;
    background-color: var(--azul-medio);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#beneficios h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 30px;
}

#beneficios input{
    display: none;
}

#beneficios .interface{
    height: 80vh;
    width: 75vw;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 25px 15px var(--azul-escuro);
}

#slides{
    display: flex;
    width: 300%;
    height: 100%;
}

.img-beneficios{
    position: relative;
    width: 33.33%;
    transition: 0.6s ease;
    display: flex;
    justify-content: end;
}

.img-beneficios h2{
    font-size: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.img-beneficios p{
    font-size: 22px;
    font-weight: 500;
    line-height: 1.25;
}

.texto-beneficio{
    position: relative;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: end;
    padding-right: 30px;
}

.img-beneficios img{
    position: absolute;
    height: 100%;
    width: 100%;
}

#nav-slide{
    margin-top: 10px;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-slide label{
    width: 15px;
    height: 15px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s ease;
}

#nav-slide label:hover{
    background-color: white;
}

#slide1:checked ~ .s1{
    margin-left: 0;
}

#slide2:checked ~ .s1{
    margin-left: -33.33%;
}

#slide3:checked ~ .s1{
    margin-left: -66.66%;
}


/* ESTILIZANDO SEÇÃO DO PÚBLICO */
#impacto{
    height: 100vh;
    width: 100%;
    padding-top: 20px;
    background-color: var(--azul-medio);
    position: relative;
    text-align: center;
}

#impacto .interface{
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.titulo{
    font-size: 30px;
    text-transform: uppercase;
}

.card-impacto{
    height: 85vh;
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
    transition: 0.4s ease-in-out;
    z-index: 998;
}

.card-impacto:hover{
    z-index: 999;
    transform: scale(1.06);
}

.img-impacto{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 70%;
    width: 100%;
}

.img-impacto img{
    width: 100%;
    height: 100%;
}

.img-impacto h2{
    position: absolute;
    padding-top: 6%;
    font-size: 30px;
}

.text-impacto{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-impacto p{
    padding: 40px 20px;
    color: var(--azul-medio);
    text-align: center;
    font-weight: 600;
}


/* ESTILIZANDO FOOTER */
footer{
    background-color: var(--azul-escuro);
    padding: 15px;
}

footer .interface{ 
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img{
    width: 60px;
    height: 60px;
}

#icones{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#icones i{
    font-size: 1.5em;
    transition: 0.5s ease;
    cursor: pointer;
}

#icones i:hover{
    color: #C3C3C3;
}


/* COMANDOS REFERENTES AO MENU HAMBUERGUER */
.menu-mobile{
    background-color: #ffffff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .2s;
}

.menu-mobile.abrir-menu{
    width: 50%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile nav ul li{
    display: flex;
    flex-direction: column;
}

.menu-mobile nav ul li a{
    text-decoration: none;
    color: var(--azul-medio);
    font-size: 20px;
    font-weight: 300;
    padding: 20px 4%;
    display: block;
    transition: 0.5s ease;
}

.menu-mobile nav ul li a:hover{
    transform: scale(1.05);
}

.overlay-menu{
    background-color: #000000a2;; 
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

.btn-fechar{
    text-align: right;
    padding: 20px 4%;
    color: var(--azul-escuro);
    cursor: pointer;
}

.menu-mobile .btn-fechar i{
    color: var(--azul-escuro);
    font-size: 35px
}

.btn-abrir-menu{
    z-index: 9999;
    display: none;
}


/* RESPONSIVIDADE PARA CELULAR */
@media screen and (max-width: 1200px){
    #menu-desktop ul li{
        display: none;
    }

    .nav-mobile{
        display: flex;
        flex-direction: column;
    }

    .btn-abrir-menu {
        font-size: 40px;
        cursor: pointer;
        display: block;
    }
    #informacoes{
        text-align: center;
    }

    #informacoes button{
        width: 70%;
    }

    #tecnologias{
        height: 100vh;
    }

    #tecnologias button{
        width: 50%;
    }

    #texto-left::after{
        content: " ";
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
        left: -55%;
        transform: rotate(90deg);
    }

    #texto-right::after{
        content: " ";
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
        right: -55%;
        transform: rotate(90deg);
        z-index: 998;
    }

    .imagem-modal img{
        width: 80vw;
        height: 70vh;
    }

    #objetivos{
        height: 60vh;
    }

    #objetivos .interface ul{
        flex-direction: column;
        align-items: center;
    }

    #objetivos .interface ul li{
        width: 90%;
    }

    .texto-beneficio{
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    #impacto{
        height: 290vh;
    }

    #impacto .interface{
        flex-direction: column;
        gap: 40px;
    }

    .card-impacto{
        width: 80%;
    }
}
